
@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#footer {
    position: relative;
    bottom: 25px;
}

#footer a {
    color: #ffffff;
    padding: 5px;
    text-decoration: underline;
}

#login {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90%;
    gap: 20px;
}

#login a {
    color: #606C5D;
    text-decoration: none;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #434242;
    font-weight: bold;
    font-size: 15px;
}

button {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #606C5D;
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #434242;
}

.text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    padding-left: 50px;
    width: 90%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("background.jpg");
    color: #ffffff;
    width: 40%;
}

#right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#black {
    background-color: #000000;
    opacity: 0.5;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(0,0,0,0.4);
    font-family: Norse Bold;
    font-size: 75px;
    position: relative;
    top: 200px;
}

#icon {
    width: 95px;
    height: 127px;
}

#fancy {
    font-style: italic;
}

#inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    width: 90%;
    gap: 20px;
}