
@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left {
    background-image: url("background.jpg");
    color: #ffffff;
    width: 30%;
}

#right {
    width: 70%;
}

#black {
    background-color: #000000;
    opacity: 0.5;
}

#logo {
    font-family: Norse Bold;
    font-size: 75px;
}

#icon {
    width: 95px;
    height: 127px;
}