
@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

a {
    color: #ffffff;
    text-decoration: underline;
    padding: 5px;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("background.jpg");
    color: #ffffff;
    width: 30%;
}

#right {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#black {
    background-color: #000000;
    opacity: 0.5;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(0,0,0,0.4);
    font-family: Norse Bold;
    font-size: 75px;
}

#icon {
    width: 95px;
    height: 127px;
}

#fancy {
    font-style: italic;
}